#root {
    min-width: 500px;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    background-color: #797e9c;
    color: rgb(224, 224, 224);
}

body {
    background-color: #b6bbd9;
    align-items: stretch;
}

hr {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #b6bbd9;
}

.shop {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    align-items: stretch;
    row-gap: 3rem;
    column-gap: 1rem;
    padding: 3rem;
}

p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#root p {
    padding: 0.2rem 3rem;
}

p a {
    color: rgb(138, 178, 212);
}
