.primaryBgc {
    background-color: #797e9c;
}

.secondaryBgc {
    background-color: #b6bbd979;
}

.primaryFontColor {
    color: rgb(224, 224, 224);
}

.secondaryFontColor {
    color: rgb(158, 158, 158);
}
